* {
    box-sizing: border-box;
}

body {    
    display: grid;
    grid-template-columns: 280px 1fr 300px;        
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   
}

main {
    background-color: #F7F7F5;
}

h4 {
    margin-left: 45px;
}

.main-courses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.course {
    background-color: white;
    border-radius: 15px;
    padding-bottom: 15px;
}

.course > img {
    width: 230px;
}

.course-p {
    font-size: 14px;
    padding-left: 15px;
}

.bar-div {
    background-color: #F7F7F7;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;    
    padding-right: 10px; 
}

.progress-bar .progress {
    --h: 8px;
    height: var(--h);
    width: 100%;
    background-color: #EDEDF5;
    border-radius: var(--h);
}

.progress-bar .bar-1 {
    width: 40%;
    height: 100%;
    border-radius: inherit;
    background-color: #FFCD5C;   
}

.bar-par {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.bar-par-p-1 {
    color: #8A8F95;
    font-size: 10px;
}

.bar-par-p-1 > span {
    color: black;
}

.bar-par-p-2 {
    color: #8A8F95;
    font-size: 10px;
}

.bar-par-p-2 > span {
    color: black;
}

.my-courses-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.all-courses {
    display:flex;
    flex-wrap: wrap;
    gap: 35px;
    color: #9C9C9C;
    margin-right: 40px;
}

.all-courses-active {
    color: black;
    border-bottom: 1px solid black;
}

.main-lists {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-lists-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 10px;   
}

.item-1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-1 > img {
    width: 40px;
}

.item-1 > p {
    font-size: 12px;
}

.fire {
    width: 15px;
}

.dots {
    height: 30px;
}

.item-2 > button {
    border: none;
    background-color: #FEDA84;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
}

.item-2 > button:hover {
    background-color: #FDBC94;
    cursor: pointer;
}

.item-2 > p {
    font-size: 14px;
}